.THIS.bootstrap-sf1 {
    background: white;
}
.THIS .group {
  border-bottom: 1px solid #d8d8d8;
  padding: 20px;
  padding-left: 70px;
  position: relative;
}
.THIS .group:hover {
  background: #fff;
}
.THIS .group-filters {
  /* margin-left: 50px; */
}
.THIS .group .group-filters {
  border: 1px solid #d8d8d8;
  padding: 20px;
}
/* this is the styling for the SourceMultiList component */
.THIS .filter-list {
  background-color: white;
  padding-bottom: 10px;
  border: 1px solid #d8d8d8;
}
.THIS .group > .delete {
  position: absolute;
  left: 10px;
  top: 20px;
}
.THIS .or .group:after,
.THIS .or .filter:after {
  content: 'or';
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: -10px;
  left: 10px;
  /* background-color: #fafafa; */
  padding: 0 4px;
  z-index: 5;
}
.THIS .or .group:last-child,
.THIS .or .filter:last-child {
  border-bottom: none;
}
.THIS .or .group:last-child:after,
.THIS .or .filter:last-child:after {
  display: none;
}
/* this is the styling for the Source component */
.THIS .filter {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  /* border-bottom: 1px solid #d8d8d8; */
  z-index: 1;
}
.THIS .filter:hover {
  /* background: #fff; */
}
.THIS .filter .form-control {
  width: 300px;
  display: inline-block;
}
.THIS .filter .form-control-narrow {
  width: 150px;
  display: inline-block;
}
.THIS .and .filter:after,
.THIS .and .group:after {
  content: 'and';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 10px;
  /* background-color: #fafafa; */
  padding: 0 4px;
  z-index: 5;
}
.THIS .and .filter:last-child,
.THIS .and .group:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.THIS .and .filter:last-child:after,
.THIS .and .group:last-child:after {
  display: none;
}
.THIS .match-type label {
  padding: 4px 0;
  margin-right: 10px;
}
.THIS .match-type label input {
  margin: 0 4px;
}